nav a{
    color: #c44569;
    font-size: 3em;
}

body {
    
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    color: #c44569;
    font-size: 3em;
}

h3 {
    color: #e66767;
    font-size: 2em;
}

h4 {
    color: #574b90;
}

.welcome {
    height: auto;
}
.welcome img {
    border-radius: 50%;
    height: 20%;
}
.welcome p {
   
}
.aboutMe {
    height: 100%;
    padding: 20px;
    background-color: #f7d794;
 }

 .skills {
    height: 100%;
    padding: 20px;
    background-color: #63cdda;
 }
 .myFavoriteTools {
    height: 100%;
    padding: 20px;
    background-color: #f7d794 ;
 }

 .wantToLearn {
    height: 100%;
    padding: 20px;
    background-color:#f3a683;
 }
